.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 4rem;
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.query-input {
  height: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 350px;
  font-size: 1rem;
  outline: transparent solid 2px;
}

.query-input:hover:enabled {
  outline: #007bff solid 1px;
  background-color: rgb(247, 247, 247);
}
.query-input:focus {
  outline: #007bff solid 2px;
  background-color: rgb(247, 247, 247);
}

.submit-button {
  height: 2.55rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.loading-circle {
  margin: 1rem;
  width: 2rem;
  height: 2rem;
}

.response-title {
  font-weight: bold;
}

.response {
  margin-top: 1rem;
  max-width: 30rem;
  font-size: 1em;
  background-color: rgb(247, 247, 247);
  border-radius: 4px;
  padding: 1rem;
}

.response.error {
  background-color: rgb(247, 247, 247);
  color: rgb(133, 0, 0);
  font-style: italic;
}

.horizontal-row {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}


.file-input {
  margin-bottom: 1rem;
  /* background-color: rgb(237, 237, 237); */
  border-radius: 4px;
  padding: 0.5rem;
  height: 2,55rem;
  border: transparent solid 1px;
}

.file-input:hover:enabled {
  background-color: rgb(247, 247, 247);
  border: #007bff solid 1px;
}

.cancel-button {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}



.submit-button:disabled {
  background-color: #9eb0c3;
  color: #fff;
  cursor: default;
}
